<h2 class="pt-5">口罩地圖</h2>
<h2 class="badge badge-primary ">更新時間: {{ time }}</h2>
<table class="table table-striped shadow p-3 mb-5 bg-white rounded">
    <thead>
        <tr>
            <th><img src="pharmacy.svg"></th>
            <th><img src="pin.svg"></th>
            <th><img src="mask.svg"></th>
            <th><img src="distance.svg"></th>
            <th><img src="call.svg"></th>
        </tr>
    </thead>
    <tbody>

        {%for mask_info in mask_infos%}
        <tr>
            <td>{{ mask_info.phar_name }}</td>
            <td><a href='http://maps.google.com/?q={{ mask_info.address }}'>{{ mask_info.address }}</a></td>
            <td>{{ mask_info.adult_mask }}</td>
            <td>{{ mask_info.distance }}</td>
            <td>{{ mask_info.phone }}</td>
        </tr>
        {%endfor%}

    </tbody>
</table>